<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-7 mx-auto'>
      <h3>店舗新規登録</h3>
      <%= form_with model: @shop, url: admin_shops_path, method: :post do |f| %>
        <div class="form-group">
          <%= f.label :image, "店舗参考画像" %><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>

        <div class="form-group">
          <%= f.label :name, "店舗名" %><br>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :address, "店舗住所" %><br>
          <%= f.text_field :address, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :hours, "営業時間" %><br>
          <%= f.text_field :hours, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :payment_name, "可能な支払方法" %> <br>
          <%= f.collection_check_boxes(:shop_payment_ids, ShopPayment.all, :id ,:payment_name) do |payment| %>
            <%= payment.label do %>
              <%= payment.check_box %>
              <%= payment.text %>
            <% end %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :genre_id, '店舗ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: '選択してください' }, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "店舗情報を追加", class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>