<div class='container'>
  <h4 class='bg-secondary text-light'>店舗情報詳細</h4>
  <div class='row'>
    <div class='col-3'>
      <%= image_tag @shop.get_shop_image, size: "200x200" %>
    </div>
    <div class='col-8'>
      <table>
        <tr>
          <td>店舗名</td>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <td>店舗住所</td>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <td>アクセス</td>
          <td><%= @shop.access %></td>
        </tr>
        <tr>
          <td>備考</td>
          <td><%= @shop.introduction %></td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td><%= @shop.hours %></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <%# byebug %>
          <td>
            <% @shop_payments.each do |shop_payments| %>
              <%= shop_payments.payment_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>店舗ジャンル</td>
          <td><%= @shop.genre.name %></td>
        </tr>
        <tr>
          <td>検索タグ</td>
          <td>
            <% @tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class='row mt-5'>
    <div class='col'>
      <!--↓ログインしてる&nicknameが"guestreviewer"じゃないとき、フォームを表示する。-->
      <% if reviewer_signed_in? && current_reviewer.nickname != "guestreviewer" %>
        <!--コメント入力フォーム-->
        <div class="form-group">
          <%= form_with model: [@shop, @reviewer_comment], local: true do |f| %>
            <h5 class="bg-secondary text-light">コメント入力フォーム</h5> <br>
            <%= f.text_area :body, size: "50", placeholder: "お店に対するコメントを入力してください" %><br>

            <!--★評価選択-->
            <div class="rate">
              <h6 class="bg-secondary text-light">評価を選択してください</h6>
              <%= f.label "★" %>
              <%= f.radio_button :star_rate, 1 %>
              <%= f.label "★★"%>
              <%= f.radio_button :star_rate, 2 %>
              <%= f.label "★★★"%>
              <%= f.radio_button :star_rate, 3 %>
              <%= f.label "★★★★"%>
              <%= f.radio_button :star_rate, 4 %>
              <%= f.label "★★★★★" %>
              <%= f.radio_button :star_rate, 5 %>
            </div>
            <br>
          </div>
            <%= f.submit "コメントする", class: "btn btn-sm btn-success mt-3" %>
          <% end %>
        </div>
      <% elsif reviewer_signed_in? && current_reviewer.nickname == "guestreviewer" %>
        <div class='col'>
          <h5 class="bg-secondary text-light">コメント入力フォーム</h5> <br>
          <h6>コメントするには会員登録が必要です</h6><br>
        </div>
      <% else %>
        <div class='col'>
          <h5 class="bg-secondary text-light">コメント入力フォーム</h5> <br>
          <h6>コメントするには会員登録が必要です</h6><br>
        </div>
      <% end %>
    <!--レビュー一覧-->
    <div class='col'>
      <%= render 'public/shops/reviewer_comments', shop: @shop, reviewer_comments: @reviewer_comments %>
      <%= link_to '全てのレビューを表示する', shop_reviewer_comments_path(@shop) %>
    </div>
  </div>
    </div>

</div>