<div class='container'>
  <h4 class='bg-secondary text-light'>店舗情報詳細</h4>
  <div class='row'>
    <div class='col'>
      <%= image_tag @shop.get_shop_image, size: "200x200" %>
    </div>
    <div class='col'>
      <table>
        <tr>
          <td>店舗名</td>
          <td><%= @shop.name %></td>
        </tr>
        <tr>
          <td>店舗住所</td>
          <td><%= @shop.address %></td>
        </tr>
        <tr>
          <td>備考</td>
          <td><%= @shop.introduction %></td>
        </tr>
        <tr>
          <td>営業時間</td>
          <td><%= @shop.hours %></td>
        </tr>
        <tr>
          <td>支払方法</td>
          <%# byebug %>
          <td>
            <% @shop_payments.each do |shop_payments| %>
              <%= shop_payments.payment_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>店舗ジャンル</td>
          <td><%= @shop.genre.name %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class='row mt-5'>
    <div class='col'>
      <!--レビュー投稿フォーム-->
      <%= form_with model: [@shop, @reviewer_comment], local: false do |f| %>
        <h5 class="bg-secondary text-light">コメント入力フォーム</h5> <br>
        <%= f.text_area :body, size: "50x10", placeholder: "お店に対するコメントを入力してください" %><br>
        <h6>評価を選択してください</h6>
        <%= f.label "★" %>
        <%= f.radio_button :star_rate, 1 %>
        <%= f.label "★★"%>
        <%= f.radio_button :star_rate, 2 %>
        <%= f.label "★★★"%>
        <%= f.radio_button :star_rate, 3 %>
        <%= f.label "★★★★"%>
        <%= f.radio_button :star_rate, 4 %>
        <%= f.label "★★★★★" %>
        <%= f.radio_button :star_rate, 5 %>
        <br><br>
        <!--タグ選択-->
        <div class="check_box">
          <h6>タグを選択してださい</h6>
          <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div>
              <%= tag.label do %>
                <%= tag.check_box %>
                <%= tag.name %>
              <% end %>
            </div>
          <% end %>
        </div>
        <br>
        <%= f.submit "コメントする", class: "btn btn-sm btn-success mt-3" %>
      <% end %>
    </div>

     <!--レビュー一覧-->
    <div class='col'>
     <%= render 'public/reviewer_comments/index', shop: @shop, reviewer_comments: @reviewer_comments, reviewer_comment: @reviewer_comment, reviewer_comment_tag: @reviewer_comment_tag %>
    </div>
  </div>

</div>