<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col mt-3'>
    <h2>会員ログイン</h2>
      <%= form_with model: @reviewer, url: reviewer_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %><br>
          <%= f.password_field :password, autocomplete: "current-password", class: "rounded" %>
        </div> <br>
        <div class="actions">
            <%= f.submit "Log in", class: "btn btn-secondary" %>
        </div>
      <% end %>
      <br><br>
      <h6>会員登録がお済みでない方は<%= link_to "こちら", new_reviewer_registration_path %></h6>
    </div>
  </div>
</div>
